#title {
    font-size: 50px;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-align: center;
    padding-top: 20px;
    color: maroon;
}

#todayList {
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
    color: maroon;
}

#list {
    margin-left: 120px;
    padding-top: 10px;
    text-align: center;
    margin-right: 120px;
}

input[type=checkbox] {
    transform: scale(1.6);
}

body {
    background-color: gold;
}